body {
  font-family: "Cairo", sans-serif;
  background: #c9d6ff;
  background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff);
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}
.navbar {
  background: rgba(255, 255, 255, 0.4);
}
.navbar-nav .dropdown-menu {
  background: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 767.98px) {
  .nav-link {
    text-align: center;
    background: rgba(255, 255, 255, 0.4);
  }
}
label {
  font-size: 1rem !important;
}
h2.title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3em;
  width: fit-content;
  margin: auto;
  color: var(--bs-gray-800);
  position: relative;
}
h2.title::after,
h2.title::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  background: #fdc830;
  background: -webkit-linear-gradient(to right, #f37335, #fdc830);
  background: linear-gradient(to right, #f37335, #fdc830);
  transform: translateY(-50%);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
h2.title::after {
  right: -40px;
}
h2.title::before {
  left: -40px;
}
button.clicked:active {
  transform: scale(0.98);
  outline: none;
  box-shadow: none;
}
.btn-check:focus + .btn,
.btn:focus,
.btn-check:checked + .btn:focus,
.btn-check:active + .btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.show:focus {
  box-shadow: none;
}
tr {
  vertical-align: middle;
}
.table-buttons {
  background-color: transparent;
  border: none;
  outline: none;
}
.table-buttons ion-icon {
  font-size: 1.4em;
}
.project .file-image {
  margin-top: calc(1rem + 15px);
}
.about .file-image {
  margin-top: calc(1.5rem + 15px);
}
.file-image {
  display: inline-block;
  position: relative;
}
.file-image input {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  width: 0;
}
.file-image .reset {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}
.file-image .reset:before {
  content: "\d7";
  font: normal normal 40px/39px sans-serif, Arial;
  color: #fa8e8e;
}
.file-image .image {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  width: 250px;
  height: 250px;
  border: 1px solid #dbdbdb;
  background-color: #f0f0f0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}
.file-image .image:before,
.file-image .image:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  font: normal normal 14px sans-serif, Arial;
  line-height: 0;
  color: #ababab;
  text-align: center;
}
.file-image .image:before {
  content: "+";
  font-size: 100px;
  margin-top: -20px;
}
.file-image .image:after {
  content: attr(data-label);
  margin-top: 30px;
}
.file-image .image.unvisibile:after,
.file-image .image.unvisibile:before {
  display: none;
}
.file-image .reset {
  display: none;
}
.file-image input:not([title=""]) ~ .reset {
  display: block;
}
.file-image input:not([title=""]) ~ .image {
  border: 0 none;
}
.file-image input:not([title=""]) ~ .image:before,
.file-image input:not([title=""]) ~ .image:after {
  display: none;
}
.card {
  position: relative;
}
.card .icon-back {
  position: absolute;
  top: 25%;
  right: -20px;
  font-size: 7em;
  transform: translateX(-50%);
  color: var(--bs-success);
  transform-origin: left;
  opacity: 0.3;
}
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.card-body > div {
  gap: 20px;
}
.cards-grid button {
  font-size: 1.5em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: var(--bs-danger);
}
.album-container {
  display: flex;
  flex-wrap: wrap;
}
.album-container img {
  width: 200px;
  height: 200px;
}
.buttons-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
  margin: 15px 0;
}
.buttons-filter .filter-btn {
  min-width: 100px;
}
.view-form {
  gap: 25px;
}
@media (max-width: 767.98px) {
  .view-form {
    flex-direction: column;
    gap: 15;
  }
}
.view-table {
  max-height: 350px;
  overflow-y: auto;
}
.view-table::-webkit-scrollbar {
  width: 5px;
}
.view-table::-webkit-scrollbar-thumb {
  background-color: var(--bs-dark);
}
.view-table th {
  position: sticky;
  top: 0;
}
.table > :not(caption) > * > * {
  white-space: nowrap;
}
.sort-projects ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0;
}
.sort-projects ul li {
  min-height: 200px;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 5px 6px 10px #a39b9b;
  border-radius: 10px;
  overflow: hidden;
}
.sort-projects ul li img {
  width: 100%;
}
@media (max-width: 767.98px) {
  .sort-projects ul {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
  .sort-projects ul li {
    min-height: 100px;
  }
}
