@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;700&display=swap");
/* Start Variable */
:root {
  --main-color: #9bb2e1;
  --red-color: #efa8b0;
}
/* End Variable */

/* Start Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Kanit", sans-serif;
  scroll-behavior: smooth;
  overflow: hidden;
}
/* End Global */

/* Start Components */
section {
  position: relative;
}
.special-title {
  font-weight: 800;
  text-align: center;
}
/* End Components */

/* Start Loader */
.loading {
  display: flex;
  position: fixed;
  top: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  justify-content: center;
  align-items: center;
  background: #333;
  overflow: hidden;
}
.loading .dot {
  position: relative;
  width: 2em;
  height: 2em;
  margin: 0.8em;
  border-radius: 50%;
}
.loading .dot::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  animation: wave 2s ease-out infinite;
}
.loading .dot:nth-child(1) {
  background: #7ef9ff;
}
.loading .dot:nth-child(1)::before {
  animation-delay: 0.2s;
}
.loading .dot:nth-child(2) {
  background: #89cff0;
}
.loading .dot:nth-child(2)::before {
  animation-delay: 0.4s;
}
.loading .dot:nth-child(3) {
  background: #4682b4;
}
.loading .dot:nth-child(3)::before {
  animation-delay: 0.6s;
}

@keyframes wave {
  50%,
  75% {
    transform: scale(2.5);
  }
  80%,
  100% {
    opacity: 0;
  }
}
/* End Loader */

/* Start Main Section */
main {
  height: 100vh;
  position: relative;
  background-image: url(./../../Admin/About/main.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
main::after {
  background: rgba(23, 23, 30, 0.6);
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
nav {
  transition: all 0.8s ease-in-out;
  padding: 30px;
}
nav.navbar.nav-fixed {
  background: #fff;
  padding: 0 30px;
  border-bottom: 1px solid #eee;
}
nav .nav-link {
  color: white;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  padding-right: 19px !important;
  padding-left: 19px !important;
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}
nav.navbar.nav-fixed .nav-link {
  color: #333;
  padding-right: 17px !important;
  padding-left: 17px !important;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link,
.nav-link:focus,
.nav-link:hover,
nav.navbar.nav-fixed .nav-link:hover,
nav.navbar.nav-fixed .nav-link.active {
  color: var(--main-color);
}
@media (max-width: 575.98px) {
  .navbar-collapse {
    width: 100%;
  }
  .navbar-nav {
    padding-left: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 2px 2px 10px #bebebe;
    margin-top: 10px;
  }
  .navbar-nav .nav-link {
    transition: transform 0.2s ease-in-out;
  }
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link.active {
    transform: translateX(10px);
  }
}
header .container {
  height: calc(100vh - 76px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
main .text-contant {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  line-height: 1.5;
}
main .text-contant h4 {
  font-weight: 300;
  margin-bottom: 35px;
}
main .text-contant h1 {
  font-size: 40px;
  font-weight: 100;
  /* line-height: 60px; */
}
/* End Main Section */

/* Start Services Section */
.services h2.title {
  text-align: center;
  margin: 20px auto;
  font-size: 3em;
  font-weight: 900;
}
@media (min-width: 768px) {
  .services .carousel-inner {
    display: flex;
  }
  .services .carousel-item {
    margin-right: 0;
    flex: 0 0 30%;
    display: block;
  }
}
.services .carousel-inner {
  padding: 1em;
}
.services .carousel-control-prev,
.services .carousel-control-next {
  background-color: #333333;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.services .service {
  text-align: center;
  padding: 20px;
  transition: var(--time-transition);
}
.services .service:hover {
  box-shadow: 5px 5px 10px #cacad4;
}
.services .service img {
  width: 150px;
  height: 150px;
  max-width: 100%;
  margin-bottom: 10px;
  border-radius: 50%;
}
.services .service h3 {
  font-weight: 600;
}
.services .service p {
  font-size: 0.9em;
  line-height: 1.6;
  color: #777;
}
/* End Services Section */

/* Start Projects Section */
.projects {
  position: relative;
  background-color: #f6f6f6;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.cards-container .card {
  width: 285px;
  position: relative;
  cursor: pointer;
  height: 100%;
  background: #fff;
  padding: 3px;
  border: 1px solid #ddd !important;
  border-radius: 0;
}
.cards-container .card-image {
  height: 200px;
  overflow: hidden;
}
.cards-container .card img {
  height: 100%;
  border-radius: 0;
  transition: transform 0.4s ease-in-out;
}
.cards-container .card:hover .card-image img {
  transform: scale(1.2) rotate(5deg);
}
.cards-container .card .card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(23, 23, 23, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  padding: 15px 0;
}
.cards-container .card .card-body p {
  margin-bottom: 0;
}
.container .categories {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
.container .categories .category {
  list-style: none;
  padding: 10px 15px;
  margin-bottom: 10px;
  background: rgba(23, 23, 23, 0.6);
  color: white;
  cursor: pointer;
  letter-spacing: 0.5px;
  font-weight: 300;
  transition: all 0.4s ease-in-out;
}
.container .categories .category.active {
  background: var(--main-color);
  color: rgba(23, 23, 23, 0.6);
}
/* End Projects Section */

/* Start Clients Section */
.clients img {
  max-width: 100%;
  width: 150px;
}
/* End Clients Section */

/* Start Contact Section */
.contact .special-title {
  background: var(--bs-light);
}
/* End Contact Section */

/* Start CopyRight Section */
.copyright {
  background-image: url(./../../Admin/About/copy-right.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: white;
  position: relative;
  z-index: 1;
}
.copyright::after {
  background: rgba(23, 23, 30, 0.6);
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

pre {
  font-family: "Cairo", sans-serif;
  overflow: inherit;
  white-space: pre-wrap;
}
/* End CopyRight Section */

/* Start Model Design */
.modal-body {
  position: relative;
}
.modal-body .discription,
.modal-body .nav-pills {
  position: sticky;
  top: 10px;
}
.modal-body .nav-pills {
  background: #fff;
  top: -48px;
}
.modal-body .nav-pills .nav-link {
  border-radius: 0;
  color: white;
  background-color: rgba(23, 23, 23, 0.6);
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: var(--main-color);
  color: rgba(23, 23, 23, 0.6);
}
.image-container {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.image-container img {
  width: 200px;
  height: 200px;
}
.lg-backdrop.in,
.lg-outer {
  z-index: 9999;
}
.lg-backdrop.in {
  opacity: 0.9;
}
/* End Model Design */

/* Start Footer */
footer i {
  width: 50px !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 0 10px;
  font-size: 1.5em;
  background-color: white;
  color: var(--bs-dark);
  border-radius: 50%;
  box-shadow: 2px 2px 5px #919191;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
/* End Footer */

/* Sart Button Up */
button.up {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--main-color);
  color: white;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-40px);
  z-index: 99;
  transition: all 0.5s ease;
}
button.up.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
/* End Button Up */
