/* Start Variable */
:root {
  --main-color: #9bb2e1;
  --red-color: #efa8b0;
}
/* End Variable */

/* Start Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
  counter-reset: sections;
  scroll-behavior: smooth;
}
/* End Global */

/* Start Components */
section {
  position: relative;
  padding-top: 70px;
  counter-increment: sections;
}
.special-title {
  font-weight: 800;
  background: white;
  text-align: center;
  width: fit-content;
  margin: 0 auto 85px;
  padding: 0 35px;
  position: relative;
  z-index: 1;
}
section::after {
  content: "0" counter(sections);
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 7.5em;
  color: var(--main-color);
}
/* End Components */

/* Start Main Section */
main {
  height: 100vh;
  position: relative;
  background: #000000;
  background: -webkit-linear-gradient(to bottom, #434343, #000000);
  background: linear-gradient(to bottom, #1c1c1c, #000000);
}
main::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 123px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='100%' height='123' preserveAspectRatio='none' viewBox='0 0 1440 123'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1721%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c32 C 72%2c43.2 216%2c83 360%2c88 C 504%2c93 576%2c57.6 720%2c57 C 864%2c56.4 936%2c96.4 1080%2c85 C 1224%2c73.6 1368%2c17 1440%2c0L1440 123L0 123z' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1721'%3e%3crect width='1440' height='123' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: 1;
}
nav .nav-link {
  color: white;
  font-size: 1.2rem;
}
nav.navbar.nav-fixed {
  background: var(--bs-dark);
}
nav.navbar.nav-fixed .nav-link {
  color: white;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link,
.nav-link:focus,
.nav-link:hover,
nav.navbar.nav-fixed .nav-link:hover,
nav.navbar.nav-fixed .nav-link.active {
  color: var(--main-color);
}
@media (max-width: 575.98px) {
  .navbar-collapse {
    width: 100%;
  }
  .navbar-nav {
    padding-left: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 2px 2px 10px #bebebe;
    margin-top: 10px;
  }
  .navbar-nav .nav-link {
    transition: transform 0.2s ease-in-out;
  }
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link.active {
    transform: translateX(10px);
  }
}
header .container {
  height: calc(100vh - 76px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.home-content {
  color: white;
  padding: 0 20px;
}
.home-content h1 {
  font-size: 3em;
}
.home-content h1 span {
  color: var(--main-color);
  font-weight: bold;
}
.home-content p {
  font-size: 1.5em;
  max-width: 100%;
  color: #777;
}
.home-image {
  position: relative;
  flex-grow: 1;
  flex-basis: 200%;
  z-index: 1;
}
@media (min-width: 992px) {
  .home-image {
    flex-basis: 100%;
  }
}
@media (min-width: 1200px) {
  .home-image {
    flex-basis: 70%;
  }
}

.home-image img {
  width: 100%;
}
.home-image::after {
  content: "";
  position: absolute;
  top: 10%;
  right: -20px;
  width: 195px;
  height: 195px;
  background-image: radial-gradient(var(--main-color) 25%, transparent 25%);
  background-size: 15px 15px;
  z-index: -1;
}
@media screen and (max-width: 767.98px) {
  .home-image {
    display: none;
  }
}
/* End Main Section */

/* Start Services Section */
.services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  width: 195px;
  height: 195px;
  background-image: radial-gradient(var(--main-color) 25%, transparent 25%);
  background-size: 15px 15px;
  z-index: -1;
}
.services h2.title {
  text-align: center;
  margin: 20px auto;
  font-size: 3em;
  font-weight: 900;
}
.services .service {
  text-align: center;
  padding: 20px;
  transition: var(--time-transition);
}
.services .service:hover {
  box-shadow: 5px 5px 10px #cacad4;
}
.services .service img {
  width: 150px;
  height: 150px;
  max-width: 100%;
  margin-bottom: 10px;
  border-radius: 50%;
}
.services .service h3 {
  font-weight: 600;
}
.services .service p {
  font-size: 0.9em;
  line-height: 1.6;
  color: #777;
}
/* End Services Section */

/* Start Projects Section */
.projects {
  position: relative;
  background-image: -webkit-linear-gradient(
    to bottom,
    transparent 120px,
    #222 0px,
    #222 30%
  );
  background-image: linear-gradient(
    to bottom,
    transparent 120px,
    #222 0px,
    #222 30%
  );
}
.projects::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 123px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='100%' height='123' preserveAspectRatio='none' viewBox='0 0 1440 123'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1077%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c31 C 72%2c42 216%2c88.6 360%2c86 C 504%2c83.4 576%2c16.8 720%2c18 C 864%2c19.2 936%2c90.6 1080%2c92 C 1224%2c93.4 1368%2c38.4 1440%2c25L1440 123L0 123z' fill='rgba(34%2c 34%2c 34%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1077'%3e%3crect width='1440' height='123' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: bottom;
  background-repeat: no-repeat;
}
.projects .special-title {
  background: #222;
  color: white;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
}
.cards-container .card {
  cursor: pointer;
}
.card-image {
  height: 150px;
  overflow: hidden;
}
.card img {
  transition: transform 0.4s ease-in-out;
}
.card:hover .card-image img {
  transform: scale(1.2) rotate(5deg);
}
.container .categories {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
.container .categories .category {
  list-style: none;
  padding: 8px 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  background: #333;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.container .categories .category.active {
  background: var(--main-color);
  color: white;
}
/* End Projects Section */

/* Start Clients Section */
.clients-container {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.clients-container img {
  max-width: 100%;
  width: 100px;
}
/* End Clients Section */

/* Start Contact Section */
.contact .special-title {
  background: var(--bs-light);
}
/* End Contact Section */

/* Start CopyRight Section */
pre {
  font-family: "Cairo", sans-serif;
  overflow: inherit;
  white-space: pre-wrap;
}
/* End CopyRight Section */

/* Start Model Design */
.nav-link {
  color: var(--bs-dark);
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: var(--main-color);
  color: white;
}
.image-container {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.image-container img {
  width: 200px;
  height: 200px;
}
.lg-backdrop.in,
.lg-outer {
  z-index: 9999;
}
.lg-backdrop.in {
  opacity: 0.9;
}
/* End Model Design */

/* Start Footer */
footer i {
  width: 50px !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 0 10px;
  font-size: 1.5em;
  background-color: white;
  color: var(--bs-dark);
  border-radius: 50%;
  box-shadow: 2px 2px 5px #919191;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
footer i:hover {
  transform: rotate(360deg) scale(1.2);
}
/* End Footer */
